*{
	font-family: Verdana;
}
i{
	color:white;
}
a{
	text-decoration: none !important;
}
.header-info{
	display: inline;
	margin: auto;
}
#nav-link{
	font-weight: bolder;
}
.course-border{
	border:4px solid #5bc0be;	
}
.icon-course{
	background: linear-gradient(to bottom right, #51C091, #09879D);
    border-radius: 50%;
    padding:18px 18px;
  	transition: background .5s ease;
}
.icon-course:hover{ 
	background:#5bc0be;
	cursor: pointer;
}
.color--white{
	color:white;
}
.bg-cse{
	background: linear-gradient(to bottom right, #51C091, #09879D);
}
.font-1{
	font-family: Verdana;
}
.outline-1 {
	color: #5bc0be;
	-webkit-text-stroke:1.5px black;
	font-weight: bold;
	font-size: 1.2em;
}
.label-title-1{
	font-weight: bold;
	font-size: 2.3em;
}